$color-scheme: fat-tails !default;
$body-background-color: $white !default;
$body-heading-color: $black !default;
$body-text-color: #3e7fa5 !default;
$link-color: #3e7fa5 !default;
$nav-child-link-color: #3e7fa5 !default;
$sidebar-color: #ff8f1c !default;
$base-button-color: #f7f7f7 !default;
$btn-primary-color: #3e7fa5 !default;
$code-background-color: #e8c13f !default;
$feedback-color: darken($sidebar-color, 3%) !default;
$table-background-color: $white !default;
$search-background-color: #32b141 !default;
$search-result-preview-color: #f04e98 !default;

/* @import "./vendor/accessible-pygments/github-light"; */