$color-scheme: fat-tails;
$body-background-color: $white;
$body-heading-color: #000000;
$body-text-color: #3e7fa5;
$link-color: #3e7fa5;
$nav-child-link-color: #3e7fa5;
$sidebar-color: #ff8f1c;
$base-button-color: #f7f7f7;
$btn-primary-color: #3e7fa5;
$code-background-color: #e8c13f;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: $white;
$search-background-color: #32b141;
$search-result-preview-color: #f04e98;

/* @import "./vendor/accessible-pygments/github-light"; */